html
    head
        title 관리자페이지 | LOCKGYO
        meta(charset='utf-8')
        link(rel='stylesheet', href='/assets/style/style.css')
    body
        div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        div.container
            h1 admin page
            p 섹션1. 회원관리
            | 현재 승인대기중인 가입자 수는 #{users.length}명 입니다
            table
                tr 
                    td 학번
                    td 이름
                    td 상태
                each user in users
                    tr
                        td= user.Uid
                        td= user.name
                        td= user.privilege
                        td 
                            a(href='/admin/changePrivilege?id='+user.Uid) 가입승인
            a(href='/admin/changePrivilegeAll') 전체 승인
            br
            br
            
            input(type)
            p 섹션2. 일정관리
            p 현재일정
            p
                신규신청기간 : 
            form(action='/admin/setSchedule' method='post')
                p
                    일정유형<br>
                    select(name='dateType')
                        option(value=1) 신규신청
                        option(value=2) 연장신청
                p   
                    시작일자 <br>
                    input(type='date' id='str_date' name='str_date')
                p   
                    마감일자 <br>
                    input(type='date' id='end_date' name='end_date')
                p
                    input(type='submit' value='적용하기')
        script(type='text/javascript') document.getElementById('str_date').value = new Date().toISOString().substring(0, 10);
