html
    head
      title LOCKGYO | 성균관대학교 교육학과
      link(rel='stylesheet', href='/assets/style/style.css')
      link(rel='stylesheet', href='/assets/style/design_preview.css')
      link(rel='icon', href='/assets/image/tab.png', type='image/x-icon')
    body
      div.container 
        
        img.img_logo(src="/assets/image/img_logo.png")
        p 성균관대학교 교육학과 사물함 신청 페이지 LOCKGYO입니다.
        br
        img.img_preview(src="/assets/image/pre.png")
        br

        a.btn(href='/signIn') 로그인
        a.btn(href='/signUp') 회원가입
