html
    head
    body
        form(name="helpuser", method="post")
        
            div.input 학번입력
                br
                input(type="text", name="student_id")
                
            div.actions
                input(type="submit", value="email id 찾기")