html
    head
      
        title
            h1  사물함 신청
        link(rel='stylesheet', href='style.css')
    body                      

      
      div.container
        //상단 탭
        //div(style='align-self: center; background-color:white; color:#646464; height:30px')
        ul.navbar
              a(href='/main') HOME
              &nbsp;&nbsp;
            
              a(href='/notice') 공지사항
              &nbsp;&nbsp;
            
              a(href='/mypage') 마이페이지
              &nbsp; &nbsp;
           
              if privilege === 1
                a(href='/admin') 관리자페이지
                &nbsp; &nbsp;

              a(href='/logout') 로그아웃
            
        div.left_info
          //사용중인 사물함 정보
          div.info
            h3 나의 사물함 정보
            if locker
            
              = locker.Lid
              번 사물함을 사용중입니다.
            else
            
              사용중인 사물함이 없습니다.
        
          //사물함 반납
          div.info
            form(class='신청', action='/main/return', method='post')
                  h3 사물함 반납

                  div.button
                    input(type='submit', value='반납')
          //사물함 연장
        
        div.right_info
          //공지사항
          div.right_content
            h3 신청 일정
            if notice
                h3= notice.title
                = notice.description
            br

          //모든 사물함 정보
          div.right_content
            h3 모든 사물함 보기
            if allLocker
              each lock in allLocker
                if lock.usable
                  span(style='color:blue')=lock.Lid
                  span(style='color:blue') &nbsp; 사용가능 &nbsp;
                  a(href='/main/enroll?id='+lock.Lid) 신청하기
                  
                else
                  span(style='color:red')=lock.Lid
                  span(style='color:red')&nbsp; 사용중
                br
