html
    head
      title 정보수정 | LOCKGYO
      link(rel='stylesheet', href='/assets/style/style.css')
    body
         div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        h4 비밀번호변경
        div.container
                form(name="비밀번호변경", method="post")
                  br
                  |비밀번호
                  input.A(type="password", name="password",placeholder="비밀번호")
                  br
                  | 비밀번호 확인
                  input.A(type="password", name="password2",placeholder="비밀번호 확인")

                  div.button
                    input(type="submit", value="변경", name="변경", placeholder="변경")
