html
    head
        title 공지사항게시 | LOCKGYO
        link(rel='stylesheet', href='/assets/style/style.css')
    body
         div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                            
        div.container
            | 글쓰기
            form(action='/notice/add' method='post')
                p
                    input(type='text' name='title' placeholder='제목')
                p
                    textarea(name='description' placeholder='내용')
                p
                    input(type='hidden' name='timestamp' id='timestamp')
                p
                    input(type='submit')

        script(type='text/javascript') document.getElementById('timestamp').value = new Date().toISOString().substring(0, 10);
