html
    head
        title 공지사항 | LOCKGYO
        meta(charset='utf-8')
        link(rel='stylesheet', href='/assets/style/style.css')
    body
         div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        div.container
            h1 게시글 상세보기
            if post
                h2= post.title
                = post.description
                div= 'by '+ post.author
            else
                | 잘못된 접근입니다
            p
                a(href='/notice') 돌아가기
            p
                a(href='/notice/edit?id='+post.Nid) 수정
            p
                a(href='/notice/delete?id='+post.Nid id='btn_delete') 삭제
        script
            | var element = document.getElementById('btn_delete');
            | element.onclick = function() {var result = confirm("정말 삭제하시겠습니까?");};
            
            
