html
    head
        title 회원가입 | LOCKGYO
        link(rel='stylesheet', href='/assets/style/style.css')
    body
         div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        div.container
                form(name="회원가입", method="post")

                  div.inner_login_box
                      이메일 입력
                      br
                      input.A(type="text", name="email", placeholder="email")
                      br
                      비밀번호
                      br
                      input.A(type="password", name="password",placeholder="비밀번호")
                      br
                      비밀번호 확인
                      br
                      input.A(type="password", name="password2",placeholder="비밀번호 확인")
                      br
                      이름
                      br
                      input.A(type="text", name="name", placeholder="이름")
                      br
                      학번
                      br
                      input.A(type='text', name="student_id", placeholder='10자리 학번을 입력하세요.')

                      br
                      연락처
                      br
                      input.A(type='text', name="phone_number", placeholder="01012345678 형태로 입력하세요.")
                      br
                      div.button
                          input(type="submit", value="회원가입", name="회원가입", placeholder="회원가입")
