html
    head
      title 로그인 | LOCKGYO
      link(rel='stylesheet', href='style.css')
      link(rel='stylesheet', href='style.css')
    body
         div.navbar_container
            div.navbar
                ul
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        div.container
              h1 LOGIN
                    form(name="sign in", method="post")

                      div.inner_login_box
                          input.A(type='text', name='email', placeholder="email")
                          br
                          input.A(type="password", name="password", placeholder="password")
                          div.button
                              input(type="submit", value="로그인", size='50')
                          br

                          div.button
                              input(type='button', value='회원가입', onclick="location.href='/signUp'")

                          div.button
                              input(type='button', value='아이디 찾기', onclick="location.href='/help/id'")
                              input(type='button', value='비밀번호 찾기', onclick="location.href='/help/pw'")
