html
    head
      title 로그인 | LOCKGYO
      link(rel='stylesheet', href='/assets/style/style.css')
      link(rel='stylesheet', href='/assets/style/design_signIn.css')
    body
         div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
        div.container
            div.box_signIn
                div.box_field
                    //p 
                    //    img.img_logo(src="img_logo.png")
                    p 로그인
                    form(name="sign in", method="post")
                            input.field_email(type='text', name='email', placeholder="이메일")
                            input.field_password(type="password", name="password", placeholder="비밀번호")
                            input.btn_signIn(type="submit" value="로그인")
                    div.box_findInfo
                        ul
                            li 
                                a(href='/help/id').btn_findInfo 아이디 찾기
                            li 
                                span |
                            li 
                                a(href='/help/pw').btn_findInfo 비밀번호 찾기
                            li
                                span |
                            li
                                a(href='/signUp').btn_findInfo 회원가입
