html
    head
        title 회원가입 | LOCKGYO
        link(rel='stylesheet', href='/assets/style/style.css')
        link(rel='stylesheet', href='/assets/style/design_signUp.css')
        link(rel='icon', href='/assets/image/tab.png', type='image/x-icon')
    body
         div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/signIn').btn_navbar 로그인
        div.container
          div.box_field
                form(name="회원가입", method="post") 
                    div.signUp_title
                      p 회원가입
                      
                    div.signUp_text  
                      p 학번
                      input.field_sid(type='text', name="student_id", pattern='[0-9]{10}', placeholder='10자리 학번을 입력하세요.', required)


                      
                      p 비밀번호
                      input.field_password(type="password", name="password",placeholder="비밀번호", required)
                      
                      p 비밀번호 확인
                      input.field_password(type="password", name="password2",placeholder="비밀번호 확인", required)
                      
                      p 이름
                      input.field_password(type="text", name="name", placeholder="이름", required)
                                                                  
                      p 연락처
                      input.field_phone(type='text', name="phone_number", pattern='[0-9]{11}', placeholder="01012345678 형태로 입력하세요.", required)
                    
                      p 이메일 입력
                      input.field_email(type="email", name="email", placeholder="email", required)
                    
                      input.btn_signUp(type="submit", value="회원가입", name="회원가입", placeholder="회원가입")
