html
    head
      title 정보수정 | LOCKGYO
      link(rel='stylesheet', href='/assets/style/style.css')
      link(rel='stylesheet', href='/assets/style/design_myedit.css')
      link(rel='icon', href='/assets/image/tab.png', type='image/x-icon')
    body
         div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃

        div.container
          div.box_field
                form(name="비밀번호변경", method="post")
                div.edit_title
                  p 비밀번호 변경
                div.edit_text
                  p 비밀번호
                  input.field_edit(type="password", name="password",placeholder="비밀번호", minlength="1", required)
                  
                  p 비밀번호 확인
                  input.field_edit(type="password", name="password2",placeholder="비밀번호 확인", minlength="1", required)

                  input.btn_edit(type="submit", value="변경", name="변경", placeholder="변경")
