html
    head
        title 회원가입 | LOCKGYO
        link(rel='stylesheet', href='/assets/style/style.css')
    body
         div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/signIn').btn_navbar 로그인
        div.container
                form(name="회원가입", method="post")

                  div.box_field
                      이메일 입력
                      br
                      input(type="email", name="email", placeholder="email")
                      br
                      비밀번호
                      br
                      input(type="password", name="password",placeholder="비밀번호")
                      br
                      비밀번호 확인
                      br
                      input(type="password", name="password2",placeholder="비밀번호 확인")
                      br
                      이름
                      br
                      input(type="text", name="name", placeholder="이름")
                      br
                      학번
                      br
                      input(type='text', name="student_id", pattern='[0-9]{10}', placeholder='10자리 학번을 입력하세요.')

                      br
                      연락처
                      br
                      input(type='text', name="phone_number", pattern='[0-9]{11}', placeholder="01012345678 형태로 입력하세요.")

                      br
                      input(type="submit", value="회원가입", name="회원가입", placeholder="회원가입")
