doctype html
html
    head
        title 공지사항 | LOCKGYO
        meta(charset='utf-8')
        link(rel='stylesheet', href='style.css')
    body
        div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        div.container
            h1 공지사항
            ul
                each topic in topics
                    li
                        a(href='/notice?id='+topic.Nid)= topic.title

            //article 
                if detail
                    h2= detail.title
                    = detail.description
                    div= 'by ' + detail.author
                else
                    h2 Welcome
                    no content//
            div
            if privilege === 1
                a(href='/notice/add') 글쓰기
