html
    head
        title 공지사항 | LOCKGYO
        meta(charset='utf-8')
        link(rel='stylesheet', href='/assets/style/style.css')
        link(rel='stylesheet', href='/assets/style/design_notice.css')
        link(rel='icon', href='/assets/image/tab.png', type='image/x-icon')
    body
        div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        div.container
            table.board
                thead 
                    tr
                        td(colspan="3") 공지사항
                tbody
                    each topic in topics
                        tr
                            td(width="5%").td_id= topic.Nid
                            td(width="80%").td_title
                                a(href='/notice?id='+topic.Nid)= topic.title
                            td(width="15%").td_timestamp= topic.timestamp
                        
            div.wrap_btn
                if privilege === 1
                    a(href='/notice/add').btn_write 글쓰기
