html
    head
        link(rel='stylesheet', href='style.css')
    body
         div.navbar_container
            div.navbar
                ul
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        div.container
            form(name="helpuser", method="post")

                div.input 학번입력
                    br
                    input(type="text", name="student_id")

                div.actions
                    input(type="submit", value="email id 찾기")