doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='style.css')
    body
        div.container
            ul.navbar
                  a(href='/main') HOME
                  &nbsp;&nbsp;

                  a(href='/notice') 공지사항
                  &nbsp;&nbsp;

                  a(href='/mypage') 마이페이지
                  &nbsp; &nbsp;

                  if privilege === 1
                    a(href='/admin') 관리자페이지
                    &nbsp; &nbsp;

                  a(href='/logout') 로그아웃
            h1 공지사항
            ul
                each topic in topics
                    li
                        a(href='/notice?id='+topic.Nid)= topic.title

            //article 
                if detail
                    h2= detail.title
                    = detail.description
                    div= 'by ' + detail.author
                else
                    h2 Welcome
                    no content//
            div
                a(href='/notice/add') 글쓰기