html
    head
        title 개인정보수정 | LOCKGYO
        link(rel='stylesheet', href='/assets/style/style.css')
        link(rel='stylesheet', href='/assets/style/design_myedit.css')
        link(rel='icon', href='/assets/image/tab.png', type='image/x-icon')
    body        
        div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        div.container
          div.box_field
              form(name="개인정보수정", method="post")
                  div.edit_title
                    p 정보 수정
                  div.edit_text
                    p email
                    input.field_edit(type="text", name="email", value=email)

                    p 이름
                    input.field_edit(type="text", name="name", placeholder=name)

                    p 연락처
                    input.field_edit(type='text', name="phone_number", placeholder=phone_number)

                    input.btn_edit(type="submit", value="수정", name="수정", placeholder="수정")

              input.btn_editPw(type='button', value='비밀번호변경', onclick="location.href='/mypage/editpw'")
