html
    head
        title 공지사항수정 | LOCKGYO
        meta(charset='utf-8')
        link(rel='stylesheet', href='/assets/style/style.css')
        link(rel='stylesheet', href='/assets/style/design_addpost.css')
        link(rel='icon', href='/assets/image/tab.png', type='image/x-icon')
    body
         div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/logout').btn_navbar 로그아웃
        div.container
            div.board
              p 공지사항 수정
            form(action='/notice/edit?id='+post.Nid method='post')
                    input.field_title(type='text' name='title' value=post.title placeholder='제목')
                    textarea.field_desc(name='description' placeholder='내용' style='white-space:pre;')
                        =post.description  
                    input.btn_submit(type='submit')
                
