html
    head
        title 아이디찾기 | LOCKGYO
        link(rel='stylesheet', href='/assets/style/style.css')
        link(rel='stylesheet', href='/assets/style/design_signUp.css')
        link(rel='icon', href='/assets/image/tab.png', type='image/x-icon')
    body
         div.navbar_container
            div.navbar
                ul.navbar_logo
                    li  
                        a(href='/main')
                            img.img_navbar_logo(src="/assets/image/img_logo.png")
                ul.navbar_menu
                    li
                        a(href='/main').btn_navbar HOME
                        &nbsp;&nbsp;
                    li
                        a(href='/notice').btn_navbar 공지사항
                        &nbsp;&nbsp;
                    li
                        a(href='/mypage').btn_navbar 마이페이지
                        &nbsp; &nbsp;
                    li
                        if privilege === 1
                            a(href='/admin').btn_navbar 관리자페이지
                            &nbsp; &nbsp;
                    li
                        a(href='/signIn').btn_navbar 로그인
        div.container
          div.box_field
            form(name="helpuser", method="post")
              div.signUp_title
                p 아이디(email) 찾기
                
              div.signUp_text
                p 학번입력
                input.field_email(type="text", name="student_id")

                input.btn_signUp(type="submit", value="ID 찾기")
