html
    head
        title
            h1  사물함 신청

    body
        form(class='신청', action='/main', method='post')
            h3 사물함 신청

            div.input 사물함 번호
              input(type='number', name='lockerNumber', value='사물함 번호')
            div.input
              input(type='submit', value='신청')
