@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff);
body, table, div, p, form, input, a {font-family:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
font-weight: 200;}

body {
    margin: 0px;
    background-color : #f5f5f5;
    background-size: cover;
    text-align: center;
    overflow: auto;
}
/*네비게이션바 관련 속성*/
.navbar_container {
    position: relative;
    background: #ffffff;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.04);
}
.navbar {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;

}

.navbar_logo {
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar_logo li{
    float:left;
    list-style:none;
}
.navbar_logo li a {
    display:block;
    text-align: center;
    padding: 5px 16px;
}
.img_navbar_logo {
    width: 120px;
    height: auto;
}
.navbar_menu {
    float:right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar_menu li{
    float:left;
    list-style:none;
}
.btn_navbar{
    display:block;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    color: #000000;
    opacity: 0.7;
    font-weight: 400;
    text-decoration: none;
}
.btn_navbar:hover{
    display:block;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    color: #000000;
    opacity: 1;
    font-weight: 400;
    text-decoration: none;
}

.container {
    width : 100%;
    height : 100%;
    margin : auto;

}
